:root {
    --primary-color: #000;
    --secondary-color: #333;
    --font-family: 'Arial', sans-serif;
    --font-size: 14px;
    --font-size-large: 24px;
    --font-size-small: 12px;
    --margin: 20px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

.container {
    margin: 0 15%;
}

.banner {
    height: 33vh;
    background-color: var(--primary-color);
    margin: 30px 0;
    border-radius: 15px;
}

.latest-news {
    text-align: left;
    margin: 50px 0 5px;
    font-size: var(--font-size-large);
    padding-left: var(--margin);
}

.reload-button {
    margin-top: var(--margin);
    width: calc(15% - 40px);
    max-width: 200px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.button-icon {
    width: 100%;
    height: auto;
}

main {
    padding: var(--margin);
}

.image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--margin);
    margin-top: 5px;
}

.block {
    overflow: hidden;
    position: relative;
}

.block img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 15px;
}

.image-title {
    text-align: center;
    margin-top: 5px;
    font-size: var(--font-size);
}

.image-meta {
    text-align: center;
    color: gray;
    font-size: var(--font-size-small);
    margin-top: 5px;
}

/* Diseño Responsive */
@media only screen and (max-width: 600px) {
    .container {
        margin: 0 5%;
    }

    .reload-button {
        width: 50%;
        margin-top: 10px;
    }

    .image-container {
        grid-template-columns: 1fr;
    }

    .block img {
        width: calc(100% - 10px);
        margin: 0 5px;
        height: auto;
    }

    .image-title {
        font-size: 18px;
        margin: 0 10px;
    }

    .image-meta {
        text-align: left;
        margin: 10px 5px;
        font-size: var(--font-size-small);
    }
}



